@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Renata Guedes</h3>

<address>
    Óbidos - Portugal
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">renataleitesg@gmail.com</a>
</address>
